services:
  website:
    image: xuananhdocker/website
    container_name: website
    ports:
      - "3100:80"
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "127.0.0.1:24224"
        tag: "website"
    networks:
      - cdc-stream
  api:
    image: xuananhdocker/api
    container_name: api
    env_file:
      - .env/.api.env
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "127.0.0.1:24224"
        tag: "api"
    ports:
      - "3000:8080"
    networks:
      - cdc-stream
  crawler:
    image: xuananhdocker/crawler
    container_name: crawler
    env_file:
      - .env/.crawler.env
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "127.0.0.1:24224"
        tag: "crawler"
    networks:
      - cdc-stream
  consumer:
    image: xuananhdocker/consumer
    container_name: consumer
    env_file:
      - .env/.consumer.env
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "127.0.0.1:24224"
        tag: "consumer"
    networks:
      - cdc-stream
    restart: on-failure
networks:
  cdc-stream:
    external: true