receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
  prometheus:
    config:
      scrape_configs:
        - job_name: 'otel-collector-metrics'
          static_configs:
            - targets: ['otel-collector:8888']
extensions:
  health_check: {}
  zpages: {}
processors:
  batch:
    timeout: 200ms
    send_batch_size: 512
  memory_limiter:
    limit_mib: 1000
    spike_limit_mib: 128
    check_interval: 5s

exporters:
  otlp:
    endpoint: jaeger:4317
    tls:
      insecure: true
  debug:
  prometheus:
    endpoint: 0.0.0.0:8889
    namespace: otelcol
service:
  extensions: [health_check, zpages]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, batch]
      exporters: [debug, otlp]
    metrics:
      receivers: [prometheus]
      processors: [batch]
      exporters: [debug, prometheus]