global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'fluent-bit'
    static_configs:
      - targets: ['fluent-bit:2020']
    metrics_path: /api/v1/metrics
  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
    metrics_path: /metrics